name: 02 - Workflow Events

on: 

  schedule:
    - cron: "*/5 * * * *"

  
  workflow_dispatch:

jobs:
  echo:
    name: echo
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: |
          echo "Workflow is triggered by ${{github.event_name}} condition"
          echo "Workflow is triggered by ${{github.ref_name}} branch"


