name: 04 - Using Actions

on: 
    workflow_dispatch:

jobs:
    Build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: '20.x'
            
            - name: Install dependencies
              run: |
                cd 04-using-actions/react-app
                npm install
                npm ci

            - name: Run Unit Test
              run: |
                cd 04-using-actions/react-app
                npm run test
            
        
            