name: 04 - Using Actions

on: 
    push:

jobs:
    Build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            
            - name: Printing folders
              run: ls | cd 04-using-actions | ls

            